*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://media1.giphy.com/media/S8rEAbtG4WA2ULH7CH/200w.webp?cid=ecf05e47mqyh0q7un53meva9il0x9qarzz6bootdjln17g6q&ep=v1_gifs_search&rid=200w.webp&ct=g);
}

#genre{
    color:gold;
    background-color: black;
    font-size: 20px;
}

td{
    border: gold 8px solid;
}

.games{
    background-color:darkgray;
    color:black;
    font-size: 40px;

    border-right: black 10px solid;
    border-left: black 10px solid;

    margin: 0;
    padding: 0;
}

table{

    text-align: center;
    
    background-color: black;

    margin-left: auto;  
    margin-right: auto;  
}

h1{
    color: black;
    background-color: gold;
}

#sf6_heading{
    background-color: black;
    color: orange;
    text-align: center;
}

#hades_heading{
    background-color: black;
    color: red;
    text-align: center;
}

#nier_heading{
    background-color: black;
    color: white;
    text-align: center;
}

.video{
    display: block;
    margin: auto;
}

.home_link{
    background-color: gold;
    position: absolute;
    color: black;

    font-size: 32px;
    text-decoration: none;
}

.home_link:hover{
    background-color: white;
    position: absolute;
    color: black;

    font-size: 32px;
    text-decoration: none;
}
